In [16]:
student={'name': 'John cena ',
         'class':'2nd',
         'roll_no': 21,
         'marks': 90 }
print(student)

{'name': 'John cena ', 'class': '2nd', 'roll_no': 21, 'marks': 90}

To access values there are two methods :

In [17]:
#1st method
print(student['name'])
print(student['class'])

John cena
2nd

In [18]:
#2nd method
print(student.get('name'))
print(student.get('class'))

John cena
2nd

In [19]:
#to add items in a dictionary
student['school']='SKD'
student['fathers name']='Sam cena'
print(student)

{'name': 'John cena ', 'class': '2nd', 'roll_no': 21, 'marks': 90, 'school': 'SKD', 'fathers name': 'Sam cena'}

In [20]:
for key in student:
    print(key)

name
class
roll_no
marks
school
fathers name

In [21]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John cena
class : 2nd
roll_no : 21
marks : 90
school : SKD
fathers name : Sam cena

In [22]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'marks', 'school', 'fathers name'])
dict_values(['John cena ', '2nd', 21, 90, 'SKD', 'Sam cena'])
dict_items([('name', 'John cena '), ('class', '2nd'), ('roll_no', 21), ('marks', 90), ('school', 'SKD'), ('fathers name', 'Sam cena')])

In [23]:
raj=[67,90,35,75,28]
raj_dict={
    'english':67,
    'hindi':90,
    'maths':35,
    'science':75,
}
print(raj_dict)

{'english': 67, 'hindi': 90, 'maths': 35, 'science': 75}

In [24]:
company={
    'emp001':{
        'name':'john',
        'age':26,
        'designation': 'team leader',
        'salary': 32000
    },
    'emp002':{
        'name':'sam',
        'age':22,
        'designation': 'software developer',
        'salary': 28000
    },
    'emp003':{
        'name':'aron',
        'age':29,
        'designation': 'web developer',
        'salary': 30000
    }
} 
print(company)

{'emp001': {'name': 'john', 'age': 26, 'designation': 'team leader', 'salary': 32000}, 'emp002': {'name': 'sam', 'age': 22, 'designation': 'software developer', 'salary': 28000}, 'emp003': {'name': 'aron', 'age': 29, 'designation': 'web developer', 'salary': 30000}}

In [25]:
company['emp004']={
    'name':'arjun',
    'age':30,
    'designation': 'web designer',
    'salary': 30000
    }

print(company)

{'emp001': {'name': 'john', 'age': 26, 'designation': 'team leader', 'salary': 32000}, 'emp002': {'name': 'sam', 'age': 22, 'designation': 'software developer', 'salary': 28000}, 'emp003': {'name': 'aron', 'age': 29, 'designation': 'web developer', 'salary': 30000}, 'emp004': {'name': 'arjun', 'age': 30, 'designation': 'web designer', 'salary': 30000}}

In [3]:
raj=[67,90,35,75,28]
raj_dict={
    'name':'RAJ-naam tp suna hi hoga',
    'school':'SKD',
    'Fathers name':'pata nhii',
    'english':67,
    'hindi':90,
    'maths':35,
    'science':75,
    'occupation':'sote rehna'
}
print(raj_dict)
for k,v in raj_dict.items():
    print(f'{k} : {v}')

{'name': 'RAJ-naam tp suna hi hoga', 'school': 'SKD', 'Fathers name': 'pata nhii', 'english': 67, 'hindi': 90, 'maths': 35, 'science': 75, 'occupation': 'sote rehna'}
name : RAJ-naam tp suna hi hoga
school : SKD
Fathers name : pata nhii
english : 67
hindi : 90
maths : 35
science : 75
occupation : sote rehna