LOOPs
- for
- while
- do while
- nested loop

In [1]:
a=["apple","banana","cherry","orange","kiwi","mango","watermelon","grapes",]
for x in a:
    print(x)

apple
banana
cherry
orange
kiwi
mango
watermelon
grapes

In [2]:
x="helloworld"
for a in x:
    print(a)

h
e
l
l
o
w
o
r
l
d

In [12]:
a="hello"
for x in a:
    print(x)

h
e
l
l
o

In [15]:
x="helloworld"
for i in range(0,5):
    print(x[i])

h
e
l
l
o

In [21]:
for x in range(2,101,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [22]:
i=0
while i<=20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
x=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,10,2):
    print("odd:",i)
for i in range(2,12,2):
    print("even:",i)

odd: 1
odd: 3
odd: 5
odd: 7
odd: 9
even: 2
even: 4
even: 6
even: 8
even: 10

In [10]:
x=[2,3,4,5,6,7,8,9]
for i in x:
    if i%2==0:
        print("even:",i)
    else:
        print("odd:",i)

even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9

Break statement

In [11]:
x=[2,3,4,5,6,7,8,90,87,76,65,54,43,21]
for i in x:
    if i==76:
        break
    print(i)

2
3
4
5
6
7
8
90
87

In [12]:
x=[2,3,4,5,6,7,8,90,87,76,65,54,43,21]
for i in x:
    if i==76:
        break
    print(i,end=" ")

2 3 4 5 6 7 8 90 87

In [13]:
x=[2,3,4,5,6,7,8,90,87,76,65,54,43,21]
for i in x:
    if i==76:
        continue
    print(i,end=" ")

2 3 4 5 6 7 8 90 87 65 54 43 21

In [14]:
x=[2,3,4,5,6,7,8,90,87,76,65,54,43,21]
for i in x:
    if i==76 or i==8:
        continue
    print(i,end=" ")

2 3 4 5 6 7 90 87 65 54 43 21

In [15]:
x=[1,2,3,None,5,1,None,2,23,None,3,1,2,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num,end=" ")

1 2 3 5 1 2 23 3 1 2 2 3 3

In [16]:
names=["Lokesh","Akash","Siddhant","Danish"]
for idx, name in enumerate(names):
    print(f"{idx+1}:{name}")

1:Lokesh
2:Akash
3:Siddhant
4:Danish

In [18]:
x=[2,3,4,5,6,7,8,9]
y=[9,8,7,6,5,4,3,2]
z=[2,3,4,5,6,7,8,9]
for i,j,k in zip(x,y,z):
    print(i*j+k)

20
27
32
35
36
35
32
27

In [22]:
movies=['intersteller','the martin','gravity','apollo 13']
ratings=[8,6,8,7,7,6]
for name,star in zip(movies,ratings):
    print(f'{name}has a rating of {star}⭐ on IMBD')

interstellerhas a rating of 8⭐ on IMBD
the martinhas a rating of 6⭐ on IMBD
gravityhas a rating of 8⭐ on IMBD
apollo 13has a rating of 7⭐ on IMBD